* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

button:focus {
    outline: none;
}


img {
    display: block;
    width: 100%;
    height: auto;
  }

  .container {
    width: 1080px;
    padding: 0px 15px;
    margin: 0 auto;
     
  }


  .visually-hidden {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }

.hidden {
    display: none;
}

@keyframes scaleIn {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes fadeInModal {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate {
    animation: slideInDown 1s ease-in-out;
  }
  
  .element-animation {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .element-animation.element-show {
    opacity: 1;
    transition: all 1s;
    transform: translateY(0%);
  }