
.about{
    padding-top: 125px;
    padding-bottom: 40px;
    background: #FFF5F6;
}

.abouth3{
color: #FFA5BA;
text-align: center;
font-family: Titan One;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.2px;
text-transform: uppercase;
}

.abouth2{
    color: #D41443;
text-align: center;
font-family: Titan One;
font-size: 58px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 3.48px;
text-transform: uppercase;
}
.aboutimg{
    width: 516px;
    height: 516px;
}
.aboutdiv{
    display: flex;
    align-items: center;
}
.aboutp1{
    color: #000;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 176%; /* 28.16px */
letter-spacing: 0.64px;
margin-bottom: 35px;
}
.aboutp2{
    color: #907E82;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 194%; /* 27.16px */
letter-spacing: 0.56px;
margin-bottom: 45px;
}

.aboutdiv2{
    margin-left: 75px;
}
.aboutbtn{
    border-radius: 22px;
background: #fff;     
width: 176px;
height: 44px;
color: #D41443;
text-align: center;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.aboutbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.aboutpart{
    display: flex;
    flex-direction: column;
}
.aboutparth{
    color: #D41443;
font-family: Titan One;
font-size: 58px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2.32px;
text-transform: uppercase;
margin-top: 40px;
}
.aboutpartp{
    color: #000;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 176%; /* 28.16px */
letter-spacing: 0.32px;
margin-top: 15px;
}
.abouticon1{
    width: 33px;
height: 50px;
flex-shrink: 0;
}
.abouticon2{
    width: 50px;
height: 50px;
flex-shrink: 0;
}
.abouticon3{
    width: 44px;
height: 50px;
flex-shrink: 0;
}
.about2part{
    background: #FFF5F6;
}


@media  screen and (max-width: 772px) {
    .about{
        padding-top: 130px;
        width: 100%;
    }
    .abouth3{
        color: #FFA5BA;
        text-align: center;
        font-family: Titan One;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    .abouth2{
        color: #D41443;
text-align: center;
font-family: Titan One;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.92px;
text-transform: uppercase;
    }
    .container{
        width: 772px;
        padding: 0px 15px;
        margin: 0 auto;
    }
    .aboutimg{
        width: 340px;
        height: 340px;
    }
    .aboutdiv2{
        margin-left: 17px;
        margin-top: 100px;
    }
    .aboutp2{
        margin-bottom: 20px;
        color: #907E82;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 194%; /* 27.16px */
letter-spacing: 0.56px;
    }
    .aboutp1{
        color: #000;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 176%; /* 24.64px */
    }
    .aboutparth{
        color: #D41443;
font-family: Titan One;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.92px;
    }
    .aboutpartp{
        color: #000;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 174%; /* 24.36px */
    }
}
@media  screen and (max-width: 320px) {
    .about{
        padding-top: 125px;
        width: 100%;
    }
    .abouth3{
        color: #FFA5BA;
text-align: center;
font-family: Titan One;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
    }
    .abouth2{
        color: #D41443;
text-align: center;
font-family: Titan One;
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.36px;
text-transform: uppercase;
    }
    .container{
        width: 320px;
        padding: 0px 15px;
        margin: 0 auto;
    }
    .aboutimg{
        width: 280px;
        height: 280px;
    }
    .aboutdiv2{
        margin-left: 17px;
        margin-top: 100px;
    }
    .aboutp2{
        color: #907E82;
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 162%; /* 19.44px */
    }
    .aboutp1{
        color: #000;
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 162%; /* 19.44px */
    }
    .aboutparth{
        color: #D41443;
        font-family: Titan One;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.44px;
        text-transform: uppercase;
    }
    .aboutpartp{
        color: #000;
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 170%; /* 20.4px */
    }
    .aboutdiv{
        display: flex;
        flex-direction: column;
    }
    .aboutbox{
        display: flex;
        flex-direction: column;
    }
}