
.about{
    padding-top: 125px;
    padding-bottom: 40px;
}
.abouth3{
color: #FFA5BA;
text-align: center;
font-family: Titan One;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.2px;
text-transform: uppercase;
}
.abouth2{
    color: #D41443;
text-align: center;
font-family: Titan One;
font-size: 58px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 3.48px;
text-transform: uppercase;
}
.aboutimg{
    width: 516px;
    height: 516px;
}
.aboutdiv{
    display: flex;
    align-items: center;
}
.aboutp1{
    color: #000;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 176%; /* 28.16px */
letter-spacing: 0.64px;
margin-bottom: 35px;
}
.aboutp2{
    color: #907E82;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 194%; /* 27.16px */
letter-spacing: 0.56px;
margin-bottom: 45px;
}

.aboutdiv2{
    margin-left: 75px;
}
.aboutbtn{
    border-radius: 22px;
background: #fff;     
width: 176px;
height: 44px;
color: #D41443;
text-align: center;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



