
nav {
    position: relative;
    display: flex;
    padding-top: 30px;
    position: absolute;
    padding-left: 46px;
    align-items: center;
    z-index: 10;
    @include adaptive(tablet-only) { 
       padding-left: 34px;
    }
    @include adaptive(mobile-only) { 
        padding-left: 20px;  
    }

}

.box-nav {
    width: 1080px;
    padding: 0px 15px;
    margin: 0 auto;
     
  }

.logo-nav {
    width: 199px;
}

.nav-list {
    display: flex;
    margin-left: 110px;
    @include adaptive(tablet-only) { 
        display: none; 
    }
    @include adaptive(mobile-only) { 
        display: none; 
    }
}

.burger-nav {
    color: #D41443;
    display: block;
    margin-right: 30px;
    
    @include adaptive(desktop) {
        display: none !important;
    }
   
}

.nav-btn-box  {
    margin-left: 291px; 
    @include adaptive(desktop) {
        margin-left: 0;
    }
     @include adaptive(mobile-only) { 
        margin-left: 23.5%;
    }
}




.nav-pink {
    color: #D41443 !important;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-link {
    color: #FFF;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-list-item:not(:last-child) {
    margin-right: 35px;
}

.container-nav {
    width: 1400px;
    margin: 0 auto;
}

.nav-btn {
    width: 159px;
    height: 44px;
    margin-left: 110px;
    color: #D41443;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 22px;
    background: #FFF;
    @include adaptive(tablet-only) { 
        margin-left: 0; 
    }
    @include adaptive(mobile-only) { 
       display: none; 
    }
}


