.locations {
    background: linear-gradient(
        to top,
        #FFF5F6 0%,
        #FFF5F6 87%,
        #fff 50%,
        #fff 100%
    );  
    padding-bottom: 160px;
}

.locations-list {
    display: flex;
    padding-bottom: 86px;
    @include adaptive(mobile-only) { 
        flex-direction: column;
        align-items: center;
     }
}

.locations-list-item {
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.10);
    &:not(:last-child) {
        margin-right: 29px;
    }
    @include adaptive(mobile-only) { 
        width: 220px;
        margin-bottom: 20px;
        margin-right: 0 !important;
     }

     
}

@include adaptive(tablet-only) { 
    .locations-list-item:not(:last-child) {
        margin-right: 20px;
 }
}

.locations-list-box {
    position: relative;
    padding-top: 51px;
    padding-left: 43px;
    padding-right: 44px;
    padding-bottom: 62px;
    @include adaptive(tablet-only) { 
        padding-left: 31px;
        padding-right: 32px;
       
     }
}

.locations-card-heading {
    width: 73px;
    height: 28px;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; 
    letter-spacing: 0.64px;
    background-color: #fc9;
    border-radius: 8px;
    margin-bottom: 25px;
}

.locations-card-heading-green {
    width: 138px;
    height: 28px;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; 
    letter-spacing: 0.64px;
    background-color: #c2e297;
    margin-bottom: 25px;
    border-radius: 8px;
}

.locations-h2-two {
    color: #000;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 29.76px */
    letter-spacing: 0.64px;
    @include adaptive(tablet-only) { 
        color: #000;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 186%; /* 26.04px */
        letter-spacing: 0.56px;
     }
     @include adaptive(mobile-only) { 
        width: 125.172px;
        color: #000;
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 186%; /* 22.32px */
     }
     
}

.locations-h2 {
    color: #000;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%; /* 29.76px */
    letter-spacing: 0.64px;
    margin-bottom: 10px;
     @include adaptive(tablet-only) { 
        color: #000;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 186%; /* 26.04px */
        letter-spacing: 0.56px;
     }
}

.locations-text {
    height: 80px;
    color: #907E82;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 183%; 
    letter-spacing: 0.64px;
    border-bottom: 1px  solid #907E82;
    margin-bottom: 12px;
    @include adaptive(tablet-only) { 
        width: 159px;
        height: 80px;
        color: #907E82;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 166%; /* 23.24px */
     }
     @include adaptive(mobile-only) { 
        width: 132px;
        color: #907E82;
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 150% */ 
     }
    
}

.locations-time-text {
    color: #FFA5BA;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 186%;
    margin-bottom: 15px;
    @include adaptive(mobile-only) { 
        width: 132.898px;
        height: 23px;
        color: #FFA5BA;
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 186%; /* 22.32px */
     }
}

.time-line {
    height: 65px;
    border-bottom: 1px  solid #907E82;
    @include adaptive(mobile-only) { 
        height: 47px;
     }
}

.locations-footer-text {
    color: #907E82;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 183%; /* 29.28px */
    @include adaptive(mobile-only) { 
        width: 179px;
        height: 37px;
        color: #907E82;
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 150% */
     }
}

.locations-btn-box {
    display: flex;
    justify-content: center;
    @include adaptive(mobile-only) { 
       flex-wrap: wrap;
       justify-content: center;
     }
}

.locations-btn-one {
    width: 198px;
    height: 44px;
    border-radius: 22px;
    background: #D41342;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-right: 54px;
    line-height: normal;   
    transition: all 0.3s ease;
    &:hover {
        letter-spacing: 1px;
        cursor: pointer;
        background-color: #D41443;
        color: hsl(0, 0%, 100%);
        box-shadow: #D41443 0px 7px 29px 0px;
       }
    @include adaptive(mobile-only) { 
        margin-right: 0;
        margin-bottom: 10px;
        
      }
}

.locations-btn-two {
    width: 198px;
    height: 44px;
    border-radius: 22px;
    background-color: #fff;
    color: #D41443;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
    transition: all 0.3s ease;
    &:hover {
        letter-spacing: 1px;
        cursor: pointer;
        background-color: #fff;
        box-shadow: #fff 0px 7px 29px 0px;
       }  
}
