.photo {
   margin: 0 auto;
   padding-bottom: 123px;
   background: rgb(255,255,255);
   background: linear-gradient(0deg, rgba(255,255,255,1) 68.7%, rgba(255,245,246,1) 68.7%);
}

.collage-img {
    width: 1280px;
    margin: 0 auto;
    @media screen and (max-width:1199px){
        width: 786px;
    };

    @media screen and (max-width:767px){
        width: 364px;
    }
}
