.photo {
   margin: 0 auto;
   padding-bottom: 123px;
}

.collage-img {
    width: 1280px;
    margin: 0 auto;
    @include adaptive(tablet-only) { 
        width: 786px;
        height: 264px;
      }
    @include adaptive(mobile-only) { 
        max-width: 90%;
        height: 122px;
      }
}
