
.products {
    padding-top: 127px;
    padding-bottom: 119px;
    background-color: #FFF;
    @media screen and (max-width:1199px) {
        padding-top: 120px;
        padding-bottom: 110px;
    };
    @media screen and (max-width:767px) {
        padding-bottom: 100px;
    }
}


.onefamily {
    text-align: center;
    font-family: "Titan One";
}

.conatiner_products{
    @media screen and (max-width:1199px) {
        width: 772px;
        margin: 0 auto;
        padding: 0 15px;
    };
    
    @media screen and (max-width:767px) {
        width: 280px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

.pre-products-heading {
    color: #FFA5BA;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 15px;
    @media screen and (max-width:1199px) {
        font-size: 26px;
    };

    @media screen and (max-width:767px) {
        font-size: 18px;
    }
}

.products-heading {
    color: #D41443;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.48px;
    text-transform: uppercase;
    margin-bottom: 49px;
    @media screen and (max-width:1199px) {
        font-size: 48px;
        letter-spacing: 1.92px;
    };

    @media screen and (max-width:767px) {
        font-size: 34px;
        letter-spacing: 1.36px;
    }
}

.products-list {
    display: flex;
    justify-content: center;
    margin-top: 259px;

    @media screen and (max-width:1199px) {
        margin-top: 150px;
    };

    @media screen and (max-width:767px) {
        margin-top: 145px;
        flex-direction: column;
    }    
}

.product {
    position: relative;
    width: 329px;
    border-radius: 24px;
    padding-top: 163px;
    padding-right: 44px;
    padding-left: 44px;
    padding-bottom: 50px;
    &:not(:last-child) {
            margin-right: 29px;
            @media screen and (max-width:1199px){
                margin-right: 20px;
            };
            @media screen and (max-width:767px){
                margin-right: 0px;
                margin-bottom: 130px;
            }
        }
    
    &::before{
        content: "";
        display: block;
        width: 335px;
        height: 335px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: -210px;
        left: 0;
        @media screen and (max-width:1199px){
            width: 220px;
            height: 226px;
            top: -110px;
        };
        @media screen and (max-width:767px){
            width: 249px;
            height: 252px;
            left: 15px;
            top: -110px;
        }
    }
    @media screen and (max-width:1199px) {
        padding-top: 150px;
        padding-right: 11px;
        padding-left: 11px;
        width: 220px;
        padding-bottom: 40px;
    };
    @media screen and (max-width:767px) {
        width: 280px;
        padding-top: 160px;
        padding-right: 40px;
        padding-left: 40px;

    }
}

.product-image {
    width: 335px;
    height: 335px;
    margin-top: -210px;
    margin-bottom: 38px;

}

.product_color_white {
    color: #FFF;
    text-align: center;
}

.product-heading {
    font-family: "Titan One";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    @media screen and (max-width:1199px){
        font-size: 20px;
        letter-spacing: 0.8px;
    }
}

.three_dots {
    margin-bottom: 35px;
    font-size: 30px;
}

.product-text {
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 176%;
    /* 28.16px */
    letter-spacing: 0.64px;
    margin-bottom: 62px;
    @media screen and (max-width:1199px){
        font-size: 14px;
    };
    @media screen and (max-width:767px){
        letter-spacing: 0.56px;
        line-height: 152%;
        margin-bottom: 30px;
    }
}

.product-button {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;

    &:hover {
        cursor: pointer;
    }
}


.product_div_color_pink {
    background: #FFB8CA;
    &::before {
            content: "";
            background-image: url("../images/strawberry-ice-1x.png");

        }
}

.product_div_color_yellow {
    background: #F0D1A5;
    &::before {
            content: "";
            background-image: url("../images/ice-coffe-1x.png");
        }
}

.product_div_color_green {
    background: #C2E297;
    &::before{
        content: "";
        background-image: url("../images/milkshake-1x.png");
    }
}

