<section class="about">
    <div class="container">
        <h3 class="abouth3">tradition and love </h3>
        <h2 class="abouth2">how it’s made?</h2>
        <div class="aboutdiv">
            <img class="aboutimg" src="./images/cow-1x.png" alt="" >
            <div class="aboutdiv2">
            <p class="aboutp1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
            <p class="aboutp2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
</p>
<p class="aboutp2">Aliquam erat volutpat. Aenean accumsan.<p>
    <button class="aboutbtn">Read more</button>
</div>
        </div>
    </div>
</section>
<section class="about2part">
    <div class="container">
        <div class="aboutbox">
            <div class="aboutpart">
                <img class="abouticon1" src="./images/icon1.png" alt="">
                <h2 class="aboutparth">721</h2>
                <p class="aboutpartp">Aliquam ac dui vel dui vulputate<br> consectetur. Mauris massa.</p>
            </div>
            <div class="aboutpart">
                <img class="abouticon2" src="./images/icon2.png" alt="">
                <h2 class="aboutparth">16kg</h2>
                <p class="aboutpartp">Aliquam ac dui vel dui vulputate<br> consectetur. Mauris massa.</p>
            </div>
            <div class="aboutpart">
                <img class="abouticon3" src="./images/icon3.png" alt="">
                <h2 class="aboutparth">84</h2>
                <p class="aboutpartp">Aliquam ac dui vel dui vulputate<br> consectetur. Mauris massa.</p>
            </div>
        </div>
    </div>
</section>