<footer class="footer">
    <div class="container">
        <div class="main-flex">
            <div class="heading-flex">
                <h3 class="footer-pre-haeding">homemade ice cream made</h3>
                <h2 class="footer-heading">with passion</h2>
            </div>
            <div class="info-flex">
                <ul class="info-list">
                    <li class="info-list-item"><a href="https:/github.com" class="social-button social-button--facebook" aria-label="Facebook">
                        <i class="fab fa-github"></i>
                    </a></li>
                    <li class="info-list-item"><a href="https:/instagram.com" class="social-button social-button--facebook" aria-label="Facebook">
                        <i class="fab fa-instagram"></i>
                    </a></li>
                    <li class="info-list-item"><a href="https:/facebook.com" class="social-button social-button--facebook" aria-label="Facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a></li>
                </ul>
                <a class="contact-link" href="tel:+610383766284">Feel free to contact <span class="tel-span" style="color: #D41443;">+61 (0) 383 766 284</span></a>
            </div>
        </div>
        <p class="last-info">
            © 2019 - IceCream. All Rights Reserved.
        </p>
    </div>
    <div class="line"></div>
</section>
