<header class="container-nav">
    <nav>
        <div class="nav-logo-box">
            <img src="/src/images/logo-nav-1x.png" srcset="/src/images/logo-nav-1x.png 1x, /src/images/logo-nav-2x.png 2x" alt="logo" class="logo-nav">
        </div>
        <ul class="nav-list">
            <li class="nav-list-item">
                <a href="#" class="nav-link nav-pink">Home</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">About us</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">How it’s made?</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">Our products</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
        </ul>
        <div class="nav-btn-box">
            <i class="fa-solid fa-bars fa-xl burger-nav" id="toggleButton"></i>
            <button class="nav-btn">Buy now</button>
        </div>
    </nav>
</header>