<header class="container">
    <nav>
        <div class="nav-logo-box">
            <img src="/src/images/logo-nav.png" alt="Logo" class="logo-nav" >
        </div>
        <ul class="nav-list">
            <li class="nav-list-item">
                <a href="#" class="nav-link nav-pink">Home</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">About us</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">How it’s made?</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">Our products</a>
            </li>
            <li class="nav-list-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
        </ul>
        <button class="nav-btn">Buy now</button>
    </nav>
</header>