<section class="hero">
    <div class="hero-box">
        <h1 class="hero-heading">ice cream
            made with
            passion</h1>
        <div class="hero-btn-box">
            <button class="hero-btn-one">Products</button>
            <button class="hero-btn-two">How it’s made?</button>
        </div>
    </div>
    <div class="hero-box-two">
        <!-- <img src="#" alt=""> -->
        <div class="hero-text-container">
            <p class="hero-text-two">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <svg class="hero-arrow-svg">
                <use></use>
            </svg>
        </div>
    </div>
    <!-- <img src="" alt="" class="hero-img-1">
    <img src="" alt="" class="hero-img-2">
    <img src="" alt="" class="hero-img-3"> -->
</section>