<section class="hero">
    <div class="hero-box nav-box">
        <h1 class="hero-heading">ice cream
            made with
            <span class="passion">passion</span></h1>
        <div class="hero-btn-box">
            <button class="hero-btn-one">Products</button>
            <button class="hero-btn-two">How it’s made?</button>
        </div>
    </div>
    <div class="hero-box-two">
        <img src="/src/images/milk-1x.png" srcset="/src/images/milk-1x.png 1x, /src/images/milk-2x.png 2x" alt="milk" class="hero-milk-img">
        <div class="hero-text-container">
            <p class="hero-text-two">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <!-- <svg class="hero-arrow-svg">
                <use></use>
            </svg> -->
        </div>
    </div>
    <picture>
        <source srcset="/src/images/ice-cream-1x.png 1x, /src/images/ice-cream-2x.png 2x">
        <img src="/src/images/ice-cream-1x.png" alt="ice cream" class="hero-img-ice">
    </picture>

    <img src="/src/images/circle-hero.png" alt="circle" class="hero-ice-circle-img">

    <picture>
        <source srcset="/src/images/girl-ice-1x.png 1x, /src/images/girl-ice-2x.png 2x">
        <img src="/src/images/girl-ice-1x.png" alt="girl eat ice" class="hero-girl-img">
    </picture>
    <!-- <img src="/src/images/ice-cream-1x.png" alt="ice cream" class="hero-img-ice"> -->
    <!-- <img src="/src/images/girl-ice-1x.png" alt="girl eat ice" class="hero-girl-img"> -->
    <!-- <img src="" alt="" class="hero-img-3"> -->
</section>