<section class="locations">
    <div class="container locations-box">
        <ul class="locations-list">
            <li class="locations-list-item">
                <div class="locations-list-box">
                <h1 class="locations-card-heading">Cafe</h1>
                <h2 class="locations-h2">New York</h2>
                <p class="locations-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div class="locations-time-box">
                        <h2 class="locations-h2-two">Monday-Friday</h2>
                        <p class="locations-time-text">06:00 AM - 10:00 PM</p>
                        <h2 class="locations-h2-two">Saturday - Sunday</h2>
                        <p class="locations-time-text time-line">08:00 AM - 16:00 PM</p>
                    </div>
                    <div class="locations-card-footer">
                        <p class="locations-footer-text">
                            +61(0) 383 766 284 <br> noreply@envato.com
                        </p>
                    </div>
                </div>
            </li>
            <li class="locations-list-item">
            <div class="locations-list-box">
                <h1 class="locations-card-heading-green">Food Truck</h1>
                <h2 class="locations-h2">Chicago</h2>
                <p class="locations-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div class="locations-time-box">
                        <h2 class="locations-h2-two">Monday-Friday</h2>
                        <p class="locations-time-text">06:00 AM - 10:00 PM</p>
                        <h2 class="locations-h2-two">Saturday - Sunday</h2>
                        <p class="locations-time-text time-line">08:00 AM - 16:00 PM</p>
                    </div>
                    <div class="locations-card-footer">
                        <p class="locations-footer-text">
                            +61(0) 383 766 284 <br> noreply@envato.com
                        </p>
                    </div>
            </div>
            </li>
            <li class="locations-list-item">
                <div class="locations-list-box">
                <h1 class="locations-card-heading">Cafe</h1>
                <h2 class="locations-h2">Los Angeles</h2>
                <p class="locations-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div class="locations-time-box">
                        <h2 class="locations-h2-two">Monday-Friday</h2>
                        <p class="locations-time-text">06:00 AM - 10:00 PM</p>
                        <h2 class="locations-h2-two">Saturday - Sunday</h2>
                        <p class="locations-time-text time-line">08:00 AM - 16:00 PM</p>
                    </div>
                    <div class="locations-card-footer">
                        <p class="locations-footer-text">
                            +61(0) 383 766 284 <br> noreply@envato.com
                        </class=>
                    </div>
                </div>
            </li>
        </ul>
        <div class="locations-btn-box">
            <button class="locations-btn-one">Our Locations</button>
            <button class="locations-btn-two">Franchise</button>
        </div>
    </div>
</section>