<div class="mobile-menu hidden" id="container">
    <i class="fa-solid fa-xmark fa-xl close-btn" id="closeBtn"></i>
    <button class="mob-menu-btn">Buy now</button>
    <ul class="nav-list-mob">
        <li class="nav-list-item-mob">
            <a href="#" class="nav-link-mob nav-pink">Home</a>
        </li>
        <li class="nav-list-item-mob">
            <a href="#" class="nav-link-mob">About us</a>
        </li>
        <li class="nav-list-item-mob">
            <a href="#about" class="nav-link-mob">How it’s made?</a>
        </li>
        <li class="nav-list-item-mob">
            <a href="#products" class="nav-link-mob">Our products</a>
        </li>
        <li class="nav-list-item-mob">
            <a href="#" class="nav-link-mob">Contact</a>
        </li>
    </ul> 
</div>