<section class="photo">
    <div class="photo-box">
        <picture>
            <source srcset="./images/collage-ice-1x.jpg 1x, ./images/pc-collage-ice-2x.webp 2x" media="(min-width: 1280px)" />
        
            <source srcset="./images/tablet-collage-ice-1x.webp 1x, ./images/tablet-collage-ice-2x.webp 2x" media="(min-width: 768px)" />
        
            <source srcset="./images/phone-collage-ice-1x.webp 1x, ./images/phone-collage-ice-2x.webp 2x" media="(min-width: 320px)" />
        
        <img src="/src/images/collage-ice-1x.jpg" alt="collage" class="collage-img">
        </picture>
    </div>
</section>