
    <section class="products" id="products">
        <div class="container conatiner_products">
            <h3 class="onefamily pre-products-heading element-animation">100% natural</h3>
            <h2 class="onefamily products-heading element-animation">products</h2>

            <ul class="products-list">
                <li class="product_div_color_pink product element-animation">
                    <h4 class="product_color_white onefamily product-heading">ice cream</h4>
                    <p class="product_color_white onefamily three_dots">...</p>
                    <p class="product_color_white product-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et
                    </p>
                    <button class="product-button social-button social-button--facebook"><i style="color: #D41443;"
                            class="fa-solid fa-arrow-right pr-hover"></i></button>
                </li>
                <li class="product_div_color_yellow product element-animation">
                    <h4 class="product_color_white onefamily product-heading">ice coffee</h4>
                    <p class="product_color_white onefamily three_dots">...</p>
                    <p class="product_color_white product-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et
                    </p>
                    <button class="product-button social-button social-button--facebook"><i style="color: #D41443;"
                            class="fa-solid fa-arrow-right"></i></button>
                </li>
                <li class="product_div_color_green product element-animation">
                    <h4 class="product_color_white onefamily onefamily product-heading">milkshakes</h4>
                    <p class="product_color_white onefamily three_dots">...</p>
                    <p class="product_color_white product-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et
                    </p>
                    <button class="product-button social-button social-button--facebook"><i style="color: #D41443;"
                            class="fa-solid fa-arrow-right"></i></button>
                </li>
            </ul>
        </div>
    </section>




