<div class="products">
    <div class="container">
        <h3 class="onefamily pre-products-heading">100% natural</h3>
        <h2 class="onefamily products-heading">products</h2>
        <div class="products-list">
            <div class="product_div_color_pink product">
                <img src="./images/strawberry-ice-1x.png" alt="*content image*" class="product-img" />
                <h4 class="product_color_white onefamily product-heading">ice cream</h4>
                <p class="product_color_white onefamily three_dots">...</p>
                <p class="product_color_white product-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et
                </p>
                <button class="product-button"><i style="color: #D41443;" class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div class="product_div_color_yellow product">
                <img src="./images/ice-coffe-1x.png" alt="" class="product-img">
                <h4 class="product_color_white onefamily product-heading">ice coffee</h4>
                <p class="product_color_white onefamily three_dots">...</p>
                <p class="product_color_white product-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et
                </p>
                <button class="product-button"><i style="color: #D41443;" class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div class="product_div_color_green product">
                <img src="./images/milkshake-1x.png" alt="*content image*" class="product-img">
                <h4 class="product_color_white onefamily onefamily product-heading">milkshakes</h4>
                <p class="product_color_white three_dots">...</p>
                <p class="product_color_white product-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et
                </p>
                <button class="product-button"><i style="color: #D41443;" class="fa-solid fa-arrow-right"></i></buttoclass=>
            </div>
        </div>
    </div>
</div>



