
    <section class="products">
        <div class="container">
            <h3 class="onefamily pre-products-heading">100% natural</h3>
            <h2 class="onefamily products-heading">products</h2>

            <ul class="products-list">
                <li class="product_div_color_pink product">
                    <h4 class="product_color_white onefamily product-heading">ice cream</h4>
                    <p class="product_color_white onefamily three_dots">...</p>
                    <p class="product_color_white product-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et
                    </p>
                    <button class="product-button"><i style="color: #D41443;"
                            class="fa-solid fa-arrow-right"></i></button>
                </li>
                <li class="product_div_color_yellow product">
                    <h4 class="product_color_white onefamily product-heading">ice coffee</h4>
                    <p class="product_color_white onefamily three_dots">...</p>
                    <p class="product_color_white product-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et
                    </p>
                    <button class="product-button"><i style="color: #D41443;"
                            class="fa-solid fa-arrow-right"></i></button>
                </li>
                <li class="product_div_color_green product">
                    <h4 class="product_color_white onefamily onefamily product-heading">milkshakes</h4>
                    <p class="product_color_white onefamily three_dots">...</p>
                    <p class="product_color_white product-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et
                    </p>
                    <button class="product-button"><i style="color: #D41443;"
                            class="fa-solid fa-arrow-right"></i></button>
                </li>
            </ul>
        </div>
    </section>


