<section class="sect-rewiews">
  <h2 class="reviews_heading visually-hidden">reviews_heading</h2>
  <!-- Slider main container -->
  <div class="my_swiper swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides! -->
          <div class="swiper-slide">
              <div class="container">
                  <img class="girl-img" src="./images/girl-1-1x.png" alt="">
                  <div class="info_div">
                      <p class="info">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                      congue. Lorem ipsum primis in nibh vel risus.</p>
                  </div>
                  <ul class="dots">
                      <li class="dot"></li>
                      <li class="dot"></li>
                      <li class="dot"></li>
                  </ul>
                  <p class="ul_p">Emily, Los Angeles</p>
              </div>
          </div>
          <div class="swiper-slide">
              <div class="container">
                  <img class="girl-img" src="./images/girl-1-1x.png" alt="">
                  <div class="info_div">
                      <p class="info">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                          nulla quam nunc, accumsan
                          congue. Lorem ipsum primis in nibh vel risus.</p>
                  </div>
                  <ul class="dots">
                      <li class="dot"></li>
                      <li class="dot"></li>
                      <li class="dot"></li>
                  </ul>
                  <p class="ul_p">Emily, Los Angeles</p>
              </div>
          </div>
          <div class="swiper-slide">
              <div class="container">
                  <img class="girl-img" src="./images/girl-1-1x.png" alt="">
                  <div class="info_div">
                      <p class="info">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                          nulla quam nunc, accumsan
                          congue. Lorem ipsum primis in nibh vel risus.</p>
                  </div>
                  <ul class="dots">
                      <li class="dot"></li>
                      <li class="dot"></li>
                      <li class="dot"></li>
                  </ul>
                  <p class="ul_p">Emily, Los Angeles</p>
              </div>
          </div>
          ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
  
      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
  </div>
</section>