<section class="sect-rewiews">
    <!-- <img class="img-rewiews" srcset="./images/testimonials1 1girl-1-1x.png 1x, ./images/testimonials1 1girl-1-1x.png 2x"  src="./images/testimonials1 1girl-1-1x.png" alt=""> -->
    <div class="container-rewiews">
        <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
    </div>
    <p class="paragraf-rewiew">Emily, Los Angeles</p>
</section>